<h1>Edit Todo</h1>

<p>This component demonstrates editing data from the server.</p>

<div>
    <label>Title</label>
    <input type="text" [(ngModel)]="todo.title" />
</div>
<div>
    <label>Details</label>
    <input type="text" [(ngModel)]="todo.details" />
</div>
<div>
    <label>IsDone</label>
    <input type="text" [(ngModel)]="todo.isDone" />
</div>
<div>
    <label>CreatedAt</label>
    <input type="text" [(ngModel)]="todo.createdAt" />
</div>
<div>
    <button (click)="putTodo()">Edit Todo</button>

    <button (click)="deleteTodo()">Delete Todo</button>
</div>
