<h1>Add Todo</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
    <label>Title</label>
    <input type="text" [(ngModel)]="todo.title" />
</div>
<div>
    <label>Details</label>
    <input type="text" [(ngModel)]="todo.details" />
</div>
<div>
    <label>IsDone</label>
    <input type="text" [(ngModel)]="todo.isDone" />
</div>
<div>
    <label>CreatedAt</label>
    <input type="text" [(ngModel)]="todo.createdAt" />
</div>
<div>
    <button (click)="postTodo()">Create Todo</button>
</div>
